p.
  You need to open console

h3 1 - Implementujte generátor

p.
  Využijte vlastností funkcí a closure k implementaci jednoduchého generátoru

ul
  li vytvořte funkci generator, která přijímá jeden parametr - iniciální hodnotu
  li tato funkce bude vracet jinou funkci, která při každém volání vrátí aktuální hodnotu zvýšenou o jedna

p.
  Použití generátoru by mělo vypadat takto, najdete ho již připravené v #[strong app.js]

snippet.
    var gen1 = generator(0);

    console.log(gen1());
    console.log(gen1());
    console.log(gen1());

solution.
  function generator(start) {
    var current = start;

    return function() {
      return ++current;
    };
  }
