h3 Sandbox

.info Feel free to use exercise #[strong 03-sandbox] for your experiments

p.
  You can start development server with command

snippet.
  npm run devel

p The command will start server, watch all your exercises and files with instruction and provide livereload capability.
  ul
    li in this package all #[strong */complete/todo] and #[strong courseware-intro.jade]

p. The server runs on the url

snippet.
  http://localhost:8080

p.
  If you want to try also test results visualization, you can run prepared npm task

snippet.
  npm run test-03

p.
  So now you can try to modify exercise and examine CourseWare capabilities.

